<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <pattern>%d{mm:ss.SSS} [%.10thread] %-5level %logger{15} -- %msg%n</pattern>
	  </encoder>
	  <target>System.err</target>
	</appender>

	<logger name="search.analyser" level="trace"/>
	<logger name="tests.core" level="debug"/>
	<logger name="tests.basic" level="debug"/>
	
	<root>
		<level value="info" />
		<appender-ref ref="STDERR" />
	</root>
</configuration>
